/* This is a dummy dtsi to pass compilation for 9.x.
 * 
 * The content has been moved to bm main dtsi files. But UGW 9.x dts recipe has
 * a patch that add 1GB_eth_wan.dtsi to one of the dts file. Without this dummy
 * file, the dts compilation will fail.
 *
 * All dts changes should be pushed to target repository, instead of being added
 * as recipe patches. The DTS patch in recipe should be removed.
 * 
 * This dummy file should be removed after the patch is removed from the recipe.
 */
