// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2024 MaxLinear, Inc.
 */

#ifndef _CONFIG_DDR_
#define _CONFIG_DDR_

#define CONFIG_DDR_2GB

#else
#error "Only one DDR configuration can be defined!"
#endif
